.homeUp {
    transform : matrix(1,0,0,1,5,20);
}

.homeDown {
    transform: matrix(1,0,0,1,5,125);
}

.awayUp {
    transform : matrix(1,0,0,1,395,20);
}

.awayDown {
    transform : matrix(1,0,0,1,395,125);
}

.playerName {
    transition: all 1s linear;
}

.homePointsShowUp {
    transform: matrix(1,0,0,1,-30,0);
    opacity: 1;
}

.homePointsShowDown {
    transform: matrix(1,0,0,1,-60,0);
    opacity: 0;
}

.awayPointsShowUp {
    transform: matrix(1,0,0,1,30,0);
    opacity: 1;
}

.awayPointsShowDown {
    transform: matrix(1,0,0,1,60,0);
    opacity: 0;
}

.scoredPoints {
    transition: all 0.5s linear;
}