@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
  opacity: 0 !important;
}
.swiper-pagination-bullet{
  height: 5px !important;
  width: 5px !important;
  background: white !important;
  opacity: 0.3 !important;
}
.swiper-pagination-bullet-active{
  background: white !important;
  opacity: 1 !important;
}


::-webkit-scrollbar {
  width: 15px;
    border-left: 1px solid #1f1f1f;
    border-right: 1px solid #1f1f1f;
}

::-webkit-scrollbar-track {
    background-color: #282828;
    border-left: 1px solid #1f1f1f;
    border-right: 1px solid #1f1f1f;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff33;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    background-clip: content-box;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

.hidescroll {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

html {
  -webkit-tap-highlight-color: transparent;
}


.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00dfa9 !important;
  text-align: center;
  font-weight: 500;
}
.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  display: block; /* centers text inside tabs */
  flex: 1;
  text-align: center;
  padding-left: 5% !important;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
}

.ant-tabs-ink-bar {
   position: absolute;
   background: #00dfa9;
   text-align: center !important;
   pointer-events: none;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
   position: absolute;
   background: #00dfa9;
   text-align: justify;
   pointer-events: none;
}

.ant-btn-primary{

  border-color: #00dfa9 !important;
  color:#00dfa9 !important;
  
}

.ant-form-item-label>label{
  
  color:#ddd !important;
}

.ant-btn-default {
  border-color: #00dfa9 !important;
  color:#ddd !important;
  border-radius: 0%;
}

.ant-btn-default:hover {
  border-color: #d1ff05 !important;
  background-color: #d1ff05 !important;
  color:#000000 !important;
  border-radius: 0%;
}

.ant-tree-title{
    font-weight: 500;
    font-size: x-large;
    color:#282828 !important;
}

.ant-tree-title:hover{
    font-weight: 700;
    font-size: x-large;
    color:#282828 !important;
}
/* .ant-tree-list-holder-inner{
  color:#ddd !important;
  background-color: #1b1b1b;
} */

.anticon-minus-square {
  color: #282828 !important;
}

.ant-tree-switcher-line-icon{
  color:#282828 !important;
  transform: scale(1.5) !important;
}

.ant-tree-node-selected{
  color: transparent !important;
  /* color:#ddd !important;
  background-color: #1b1b1b !important; */
}

@media screen and (max-width: 360px) {
  .modal-coupon,.modal-location,.modal-search-coupon,.modal-details-coupon,.modal-statistics,.modal-user-limit,.modal-delay,.modal-set-rake {
    width: 100vw !important;
  }
}

@media screen and (min-width: 768px) {
  .modal-coupon {
    width: 70vw !important;
  }
  .modal-user-limit,.modal-set-rake {
    width: 60vw !important;
  }
  .modal-location,.modal-search-coupon,.modal-details-coupon,.modal-statistics,.modal-delay {
    width: 50vw !important;
  }
}

/*your selectors if needed*/
.ant-modal-content {
  border-radius: 0px !important;
  background-color: #575757 !important;
  padding: 0px 0px !important;
  /* background: red; */
}

.ant-modal-header {
  background-color: #14805e !important;
  border-radius: 0px !important;
  text-align: center;
  margin-bottom: 0px !important;
  /* background: red; */
}

.ant-modal-header > .ant-modal-title {
  color:#ddd !important;
  font-size: x-large;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  margin: auto;
  /* background: red; */
}

.ant-modal-close{
  top: 10px !important;
  inset-inline-end: 10px !important;
}

.ant-modal-footer {
  padding:15px;
  text-align: center;
}